<div id="footer">
  generated on <%= Time.now.strftime("%Y-%m-%d") %> by
  <a href="http://kares.org" title="kares.org" target="_blank"><b>@kares</b></a>
  using <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  <!--<%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>)-->
</div>
